/* ==========================================================
   MAIN GRID — DESKTOP

   168px / CENTER / 244px

   На 1280:
   container = 1236px
   168 + 12 + 800 + 12 + 244 = 1236px
========================================================== */

.home-page {
    padding:
        14px 0 30px;
}

.home-grid {
    display: grid;

    grid-template-columns:
        168px
        minmax(0, 1fr)
        244px;

    grid-template-areas:
        "filters hero sidebar"
        "filters main sidebar";

    column-gap: 12px;

    row-gap: 13px;

    align-items: start;
}


