.home-page {
    padding:
        14px 0 30px;
}

.home-grid {
    display: grid;

    grid-template-columns:
        168px
        minmax(0, 1fr)
        244px;

    grid-template-areas:
        "filters hero sidebar"
        "filters main sidebar";

    column-gap: 12px;

    row-gap: 13px;

    align-items: start;
}
